QToolButton#toolButton
{
background-image: url(:/new/prefix1/Style/Red_Setting.png);
}
QToolButton#Exit_pbn
{
image: url(:/new/prefix1/Style/Red_Exit.png);
}
QWidget
{
color : gray;
background-color: black ;
}
QLabel
{
color: rgb(255, 255, 255);
}
QPushButton#Theme_2_pbn
{
background-image: url(:/new/prefix1/Style/Purp.png);
border-radius: 5px;
}
QPushButton
{
background-color: rgb(170, 0, 0);
border-radius: 5px;
color : black;
}
QLineEdit
{
background-color: rgb(56, 56, 56);
border-color: rgb(170, 170, 127);
border-radius:5%;
}
QGroupBox
{
color: rgb(179, 179, 179);
}
